
#loginLink {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#flowersDiv {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;

}
figcaption {
    text-align: center;

}
#header {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#mainBody {
    width:95%;
}
